@use "variables";

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  background: $bg-color;
  color: variables.$font-color;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
}

.container {
  padding: 0 115px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 1080px) {
    padding: 0 72px;
  }

  @media screen and (max-width: 480px) {
    padding: 0 30px;
  }
}