@use "variables";

* {
  margin: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  background: variables.$bg-color;
  color: variables.$font-color;
}

.container {
  padding: 0 115px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 1080px) {
    padding: 0 72px;
  }

  @media screen and (max-width: 720px) {
    padding: 0 30px;
  }
}