// Colors
$bg-color: #2b2b2b;
$accent-color: #A259FF;
$font-color: #fff;
$second-font-color: #858584;
$footer-color-text: #CCCCCC;


// Fonts
$font-main: 'Work Sans',
sans-serif;
$second-font: 'Space Mono',
monospace;