* {
  margin: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  background: #2b2b2b;
  color: #fff;
}

.container {
  max-width: 1280px;
  padding: 0 115px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 834px) {
  .container {
    max-width: 834px;
    padding: 0 72px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 30px;
  }
}

.container {
  padding: 0 115px;
}
@media screen and (max-width: 1080px) {
  .container {
    padding: 0 72px;
  }
}

.section-mashroom {
  background: url(/images/background-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 1080px) {
  .section-mashroom {
    background: url(/images/tablet_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.section-mashroom-hover {
  gap: 450px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: flex;
  justify-content: space-between;
}
.section-mashroom-hover-left .user {
  width: 151px;
  height: 44px;
  background: #3B3B3B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  margin-bottom: 30px;
}
.section-mashroom-hover-left .user-icon {
  margin: 10px 12px 10px 20px;
}
.section-mashroom-hover-left .user-name {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin: 10px;
}
.section-mashroom-hover-left_title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.section-mashroom-hover-left_button {
  width: 198px;
  height: 60px;
  background: #FFFFFF;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #2B2B2B;
  display: flex;
  justify-content: space-between;
  padding: 19px 50px 20px;
  margin-bottom: 60px;
  cursor: pointer;
}
.section-mashroom-hover-left_button:hover {
  background: #6111ca;
  border: none;
  color: #ffffff;
  border: 1px solid #fff;
}
.section-mashroom-hover-left_button:hover > .button-eye {
  stroke: #FFFFFF;
}
.section-mashroom-hover-right {
  width: 295px;
  height: 144px;
  background: rgba(59, 59, 59, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  margin-top: 76px;
}
.section-mashroom-hover-right_title {
  display: block;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #FFFFFF;
  padding: 30px 30px 10px 30px;
}
.section-mashroom-hover-right_timer {
  display: flex;
  justify-content: space-around;
}
.section-mashroom-hover-right_timer .hours,
.section-mashroom-hover-right_timer .minutes,
.section-mashroom-hover-right_timer .seconds {
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: #FFFFFF;
}
.section-mashroom-hover-right .text {
  display: flex;
  justify-content: space-around;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #FFFFFF;
}

.section-mashroom-hover:hover {
  opacity: 1;
}

.section-mashroom:hover {
  background: url(/images/gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */