@charset "UTF-8";
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  background: #2b2b2b;
  color: #fff;
  font-weight: 400;
  font-family: "Work Sans";
  font-style: normal;
}

.container {
  padding: 0 115px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1080px) {
  .container {
    padding: 0 72px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 0 30px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

​ html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

​ footer,
header,
nav,
section,
main {
  display: block;
}

​ body {
  line-height: 1;
}

​ ol,
ul {
  list-style: none;
}

​ blockquote,
q {
  quotes: none;
}

​ blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

​ table {
  border-collapse: collapse;
  border-spacing: 0;
}

​ input {
  border-radius: 0;
}

​ a {
  text-decoration: none;
}

.section-works {
  padding: 80px 0;
}
.section-title {
  font-family: "Work Sans";
  font-style: normal;
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-transform: capitalize;
}
@media screen and (max-width: 1080px) {
  .section-title {
    font-size: 28px;
    line-height: 1.4;
  }
}

.works-description {
  font-size: 22px;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 48px;
}
@media screen and (max-width: 1080px) {
  .works-description {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 40px;
  }
}
.works-list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 480px) {
  .works-list {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.works-item {
  overflow: hidden;
  background: #3B3B3B;
  border-radius: 20px;
  padding: 10px 30px 30px 30px;
}
@media screen and (max-width: 480px) {
  .works-item {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
}
.works-img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.works-img img {
  display: block;
  margin: auto;
}
@media screen and (max-width: 1080px) {
  .works-img img {
    max-width: 160px;
    max-height: 160px;
  }
}
@media screen and (max-width: 480px) {
  .works-img img {
    max-width: 100px;
    max-height: 100px;
  }
}
.works-title {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}
@media screen and (max-width: 1080px) {
  .works-title {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .works-title {
    text-align: left;
  }
}
.works-text {
  font-family: "Work Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}
@media screen and (max-width: 1080px) {
  .works-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .works-text {
    text-align: left;
    font-size: 12px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

​ html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

​ footer,
header,
nav,
section,
main {
  display: block;
}

​ body {
  line-height: 1;
}

​ ol,
ul {
  list-style: none;
}

​ blockquote,
q {
  quotes: none;
}

​ blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

​ table {
  border-collapse: collapse;
  border-spacing: 0;
}

​ input {
  border-radius: 0;
}

​ a {
  text-decoration: none;
}

.section-mashroom {
  background: url(../images/background-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 1080px) {
  .section-mashroom {
    background: url(../images/tablet_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  .section-mashroom {
    background: url(../images/mobile_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.section-mashroom-hover {
  gap: 450px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1080px) {
  .section-mashroom-hover {
    gap: 138px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 480px) {
  .section-mashroom-hover {
    gap: 10px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    top: 65%;
  }
}
.section-mashroom-hover-left .user {
  width: 151px;
  height: 44px;
  background: #3B3B3B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  margin-bottom: 30px;
}
.section-mashroom-hover-left .user-icon {
  margin: 10px 12px 10px 20px;
}
.section-mashroom-hover-left .user-name {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin: 10px;
}
@media screen and (max-width: 480px) {
  .section-mashroom-hover-left .user {
    margin-bottom: 22px;
  }
}
.section-mashroom-hover-left_title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media screen and (max-width: 1080px) {
  .section-mashroom-hover-left_title {
    font-size: 38px;
  }
}
.section-mashroom-hover-left_button {
  width: 198px;
  height: 60px;
  background: #FFFFFF;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #2B2B2B;
  display: flex;
  justify-content: space-between;
  padding: 19px 50px 20px;
  margin-bottom: 60px;
  cursor: pointer;
}
.section-mashroom-hover-left_button > a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1080px) {
  .section-mashroom-hover-left_button {
    width: 198px;
    height: 60px;
    background: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #2B2B2B;
    display: flex;
    justify-content: space-between;
    padding: 19px 50px 20px;
  }
}
@media screen and (max-width: 480px) {
  .section-mashroom-hover-left_button {
    width: 315px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
}
.section-mashroom-hover-left_button:hover {
  background: #6111ca;
  border: none;
  color: #ffffff;
  border: 1px solid #fff;
}
.section-mashroom-hover-left_button:hover > a {
  color: #ffffff;
}
.section-mashroom-hover-left_button:hover > .button-eye {
  stroke: #FFFFFF;
}
.section-mashroom-hover-right {
  width: 295px;
  height: 144px;
  background: rgba(59, 59, 59, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  margin-top: 76px;
}
@media screen and (max-width: 480px) {
  .section-mashroom-hover-right {
    width: 315px;
    height: 144px;
    background: rgba(59, 59, 59, 0.5);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-top: 0;
  }
}
.section-mashroom-hover-right_title {
  display: block;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #FFFFFF;
  padding: 30px 30px 10px 30px;
}
.section-mashroom-hover-right_timer {
  display: flex;
  justify-content: space-around;
}
.section-mashroom-hover-right_timer .hours,
.section-mashroom-hover-right_timer .minutes,
.section-mashroom-hover-right_timer .seconds {
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: #FFFFFF;
}
.section-mashroom-hover-right .text {
  display: flex;
  justify-content: space-around;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #FFFFFF;
  gap: 18px;
}
.section-mashroom-hover:hover {
  opacity: 1;
}
.section-mashroom:hover {
  background: url(../images/gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1080px) {
  .section-mashroom:hover {
    background: url(../images/tablet_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  .section-mashroom:hover {
    background: url(../images/mobile_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}/*# sourceMappingURL=style.css.map */